<div ng-include="'partials/navbar.html'"></div>

<div class="row">
  <div class="col-sm-12">
    <h1>Post</h1>
  </div>
  <div class="col-sm-12">
    <form class="form" name="form" ng-submit="postSubmit(form)" novalidate>

      <div class="form-group" ng-class="{ 'has-success': form.headline.$valid && submitted,
                                          'has-error': form.headline.$invalid && submitted }">
        <label>Headline</label>
        <input type="text" name="headline" class="form-control" ng-model="post.headline"
               required/>
        <p class="help-block" ng-show="form.headline.$error.required && submitted">
          A headline is required
        </p>
      </div>   
      <div class="form-group" ng-class="{ 'has-success': form.description.$valid && submitted,
                                          'has-error': form.description.$invalid && submitted }">
        <label>Description</label>
        <textarea name="description" class="form-control" ng-model="post.description"
               required/>
        <p class="help-block" ng-show="form.description.$error.required && submitted">
          A description is required
        </p>
      </div>   
      <div class="form-group" ng-class="{ 'has-success': form.address.$valid && submitted,
                                          'has-error': form.address.$invalid && submitted }">
        <label>Address</label>
        <input type="text" name="address" class="form-control" ng-model="post.address"
               required/>
        <p class="help-block" ng-show="form.address.$error.required && submitted">
          An address is required
        </p>
      </div>   
      <div class="form-group" ng-class="{ 'has-success': form.address2.$valid && submitted,
                                          'has-error': form.address2.$invalid && submitted }">
        <label>Address 2</label>
        <input type="text" name="address2" class="form-control" ng-model="post.address2"
               required/>
        <p class="help-block" ng-show="form.address2.$error.required && submitted">
          An address is required
        </p>
      </div>   
      <div class="form-group" ng-class="{ 'has-success': form.city.$valid && submitted,
                                          'has-error': form.city.$invalid && submitted }">
        <label>City</label>
        <input type="text" name="city" class="form-control" ng-model="post.city"
               required/>
        <p class="help-block" ng-show="form.city.$error.required && submitted">
          A city is required
        </p>
      </div>   
      <div class="form-group" ng-class="{ 'has-success': form.state.$valid && submitted,
                                          'has-error': form.state.$invalid && submitted }">
        <label>State</label>
        <input type="text" name="state" class="form-control" ng-model="post.state"
               required/>
        <p class="help-block" ng-show="form.state.$error.required && submitted">
          A state is required
        </p>
      </div>   
      <div class="form-group" ng-class="{ 'has-success': form.zip.$valid && submitted,
                                          'has-error': form.zip.$invalid && submitted }">
        <label>Zipcode</label>
        <input type="text" name="zip" class="form-control" ng-model="post.zip"
               required/>
        <p class="help-block" ng-show="form.zip.$error.required && submitted">
          A zip is required
        </p>
      </div>   

      <button class="btn btn-lg btn-primary" type="submit">Post</button>
    </form>
  </div>
</div>
